@let participants = participantsData.value()?.items;
@let participantFilters = participantFiltersData.value();

@if (participantFilters) {
  <div style="display: flex; justify-content: space-between; align-items: center">
    <select id="participantFilter" (change)="onFilterChange($event)">
      @for (item of participantFilters; track $index) {
        <option [value]="item.value">{{ item.label }}</option>
      }
    </select>
    <input
      type="text"
      id="participantSearch"
      (input)="onSearchInput($event)"
      (keyup.enter)="onSearchEnter($event)"
    />
  </div>
}
@if (participants) {
  <app-challenge-participants-table
    [participantsData]="participants"
  ></app-challenge-participants-table>
  <button id="participantLoadMore" (click)="onLoadMoreClick()" [disabled]="!this.hasMoreItems()">
    Load more
  </button>
}
