@let participants = participantsData.value();
@let participantFilters = participantFiltersData.value();

@if (participantFilters) {
  <div style="display: flex; justify-content: space-between; align-items: center">
    <select id="participantFilter" (change)="participantFilterChange($event)">
      @for (item of participantFilters; track $index) {
        <option [value]="item.value">{{ item.label }}</option>
      }
    </select>
    <input
      type="text"
      id="participantSearch"
      (input)="participantSearchInput($event)"
      (keyup.enter)="participantSearchEnter($event)"
    />
  </div>
}
@if (participants) {
  <app-challenge-participants-table
    [participantsData]="participants.items"
    [route]="'/results'"
  ></app-challenge-participants-table>
  <div>
    <span>Page {{ participants.pageNumber }} of {{ participants.totalPages }}</span>

    <button (click)="goToPage(1)" [disabled]="participants.pageNumber === 1"><<</button>
    <button (click)="goPrevPage()" [disabled]="participants.pageNumber === 1"><</button>
    <button (click)="goNextPage()" [disabled]="participants.pageNumber === participants.totalPages">
      >
    </button>
    <button
      (click)="goToPage(participants.totalPages)"
      [disabled]="participants.pageNumber === participants.totalPages"
    >
      >>
    </button>
  </div>
}
