<section class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <h2 class="text-center">
    {{ 'signUp.body.title' | translate }}
  </h2>

  <div class="mt-10 mb-20 sm:mx-auto sm:w-full sm:max-w-sm">
    @if (signUpForm.errors && signUpForm.errors['error-message']) {
      <div class="form-error-message">
        {{ signUpForm.errors['error-message'] }}
      </div>
    }
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit($event)" novalidate class="space-y-6">
      <div>
        <label for="firstName" class="form-label">
          {{ 'signUp.form.firstName' | translate }}
        </label>

        <input
          type="text"
          id="firstName"
          formControlName="firstName"
          autocomplete="firstName"
          class="form-input"
          [class.form-input-error]="
            signUpForm.get('firstName')?.invalid && signUpForm.get('firstName')?.touched
          "
        />

        @if (signUpForm.get('firstName')?.invalid && signUpForm.get('firstName')?.touched) {
          <div class="form-error">
            @if (signUpForm.get('firstName')?.errors?.['required']) {
              <div>{{ 'forms.validators.required' | translate }}</div>
            }
            @if (signUpForm.get('firstName')?.errors?.['maxlength']) {
              <div>{{ 'forms.validators.maxLength' | translate: { maxLength: 30 } }}</div>
            }
            @if (signUpForm.get('firstName')?.errors?.['apiErrors']) {
              <div>{{ signUpForm.get('firstName')?.errors?.['apiErrors'] }}</div>
            }
          </div>
        }
      </div>

      <div>
        <label for="lastName" class="form-label">
          {{ 'signUp.form.lastName' | translate }}
        </label>

        <input
          type="text"
          id="lastName"
          formControlName="lastName"
          autocomplete="lastName"
          class="form-input"
          [class.form-input-error]="
            signUpForm.get('lastName')?.invalid && signUpForm.get('lastName')?.touched
          "
        />

        @if (signUpForm.get('lastName')?.invalid && signUpForm.get('lastName')?.touched) {
          <div class="form-error">
            @if (signUpForm.get('lastName')?.errors?.['required']) {
              <div>{{ 'forms.validators.required' | translate }}</div>
            }
            @if (signUpForm.get('lastName')?.errors?.['maxlength']) {
              <div>{{ 'forms.validators.maxLength' | translate: { maxLength: 30 } }}</div>
            }
            @if (signUpForm.get('lastName')?.errors?.['apiErrors']) {
              <div>{{ signUpForm.get('lastName')?.errors?.['apiErrors'] }}</div>
            }
          </div>
        }
      </div>

      <div>
        <label for="email" class="form-label">
          {{ 'signUp.form.email' | translate }}
        </label>

        <input
          type="email"
          id="email"
          formControlName="email"
          autocomplete="email"
          class="form-input"
          [class.form-input-error]="
            signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched
          "
        />

        @if (signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched) {
          <div class="form-error">
            @if (signUpForm.get('email')?.errors?.['required']) {
              <div>{{ 'forms.validators.required' | translate }}</div>
            }
            @if (signUpForm.get('email')?.errors?.['email']) {
              <div>{{ 'forms.validators.email' | translate }}</div>
            }
            @if (signUpForm.get('email')?.errors?.['apiErrors']) {
              <div>{{ signUpForm.get('email')?.errors?.['apiErrors'] }}</div>
            }
          </div>
        }
      </div>

      <div>
        <button type="submit" [disabled]="signUpForm.invalid" class="btn-primary w-full">
          {{ 'signUp.form.next' | translate }}
        </button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm">
      {{ 'signUp.body.haveAccount' | translate }}
      <a [routerLink]="['/', currentLanguage, 'auth', 'sign-in']" class="font-semibold">{{
        'signUp.linkSignIn' | translate
      }}</a>
    </p>
  </div>
</section>
