@let weeklyActivities = weeklyActivitiesData.value();

<section>
  @if (weeklyActivities) {
    <div class="mt-10 mb-20">
      @if (weeklyActivities.length > 0) {
        <app-activities-table [activitiesData]="weeklyActivities"></app-activities-table>
      } @else {
        <!-- <div class="text-center py-12 rounded-lg border border-slate-300">
          <svg
            class="mx-auto h-16 w-16 text-slate-400 mb-4"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z"
            />
          </svg>
          <h3 class="mt-2 text-sm font-medium text-slate-900">No activities found</h3>
          <p class="mt-1 text-sm text-slate-500">
            {{ 'challengeParticipant.noActivities' | translate }}
          </p>
        </div> -->
      }
    </div>
  }
</section>
