<nav style="display: flex; justify-content: flex-end">
  <div>
    <ul style="list-style: none; display: flex; gap: 0.5rem">
      <li>
        <a routerLink="/" routerLinkActive="active">
          {{ 'navbar.linkHome' | translate }}
        </a>
      </li>
      <li>
        <a routerLink="/account/login" routerLinkActive="active">
          {{ 'navbar.linkLogin' | translate }}
        </a>
      </li>
      <li>
        <a routerLink="/account/register" routerLinkActive="active">
          {{ 'navbar.linkRegister' | translate }}
        </a>
      </li>
    </ul>
  </div>
</nav>
