<!-- <button (click)="getGarminUrl()" class="btn-primary" [disabled]="garminUrlData.isLoading()">
  @if (garminUrlData.isLoading()) {
    <span class="flex items-center gap-2">
      <svg
        class="animate-spin h-4 w-4 text-white"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
      >
        <circle
          class="opacity-25"
          cx="12"
          cy="12"
          r="10"
          stroke="currentColor"
          stroke-width="4"
        ></circle>
        <path
          class="opacity-75"
          fill="currentColor"
          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
        ></path>
      </svg>
      Conectando...
    </span>
  } @else {
    Conectar
  }
</button> -->

<!-- <button
  (click)="getGarminUrl()"
  class="btn-primary"
  [disabled]="garminUrlData.isLoading() || hasGarmin()"
>
  @if (garminUrlData.isLoading()) {
    <span>Conectando...</span>
  } @else if (hasGarmin()) {
    <span>Conectado</span>
  } @else {
    Conectar
  }
</button> -->

<button
  (click)="connect(DeviceBrand.Garmin)"
  class="btn-primary"
  [disabled]="providerUrlData.isLoading() || hasDeviceConnected(DeviceBrand.Garmin)"
>
  @if (providerUrlData.isLoading() && selectedBrand() === DeviceBrand.Garmin) {
    <span>Conectando Garmin...</span>
  } @else {
    {{ hasDeviceConnected(DeviceBrand.Garmin) ? 'Garmin Conectado' : 'Conectar Garmin' }}
  }
</button>

<button
  (click)="connect(DeviceBrand.Polar)"
  class="btn-primary"
  [disabled]="providerUrlData.isLoading() || hasDeviceConnected(DeviceBrand.Polar)"
>
  @if (providerUrlData.isLoading() && selectedBrand() === DeviceBrand.Polar) {
    <span>Conectando Polar...</span>
  } @else {
    {{ hasDeviceConnected(DeviceBrand.Polar) ? 'Polar Conectado' : 'Conectar Polar' }}
  }
</button>
