<section>
  <h2>{{ 'devices.body.title' | translate }}</h2>
  <h3 class="text-slate-600">{{ 'devices.body.description' | translate }}</h3>

  <div class="mt-10 mb-20">
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      @for (d of devices; track d.brand) {
        <article>
          <div class="flex flex-col gap-4">
            <div
              class="w-full h-[150px] flex items-center justify-center p-m bg-white border border-slate-300 rounded-lg"
            >
              <img
                class="max-w-[120px]"
                [src]="d.logoSrc"
                [alt]="d.label + ' logo'"
                loading="lazy"
                decoding="async"
              />
            </div>
            @if (hasDeviceConnected(d.brand)) {
              <button
                (click)="disconnect(d.brand)"
                class="btn-danger"
                [disabled]="providerUrlData.isLoading() || isDisconnecting()"
              >
                @if (isDisconnecting()) {
                  {{ 'devices.btnDisconnecting' | translate }}
                } @else {
                  {{ 'devices.btnDisconnect' | translate }}
                }
              </button>
            } @else {
              <button
                (click)="connect(d.brand)"
                class="btn-primary"
                [disabled]="providerUrlData.isLoading()"
              >
                @if (providerUrlData.isLoading() && selectedBrand() === d.brand) {
                  <span>{{ 'devices.btnConnecting' | translate }}</span>
                } @else {
                  {{ 'devices.btnConnect' | translate }}
                }
              </button>
            }
          </div>
        </article>
      }
    </div>
  </div>
</section>
