<footer class="w-full">
  <div class="max-w-7xl mx-auto flex items-center justify-between px-4 py-4">
    <div>&copy; {{ currentYear }}. All rights reserved.</div>
    <div class="flex gap-x-2">
      <a [routerLink]="['/', currentLanguage, 'privacy-policy']">{{
        'footer.linkPrivacyPolicy' | translate
      }}</a>
      <a [routerLink]="['/', currentLanguage, 'terms']">{{ 'footer.linkTerms' | translate }}</a>
      <a [routerLink]="['/', currentLanguage, 'cookies']">{{ 'footer.linkCookies' | translate }}</a>
    </div>
  </div>
</footer>
