@let activities = activitiesData();

@if (activities) {
  <table style="width: 100%">
    <thead style="text-align: left">
      <tr>
        <th>{{ 'activity.startDate' | translate }}</th>
        <th>{{ 'activity.endDate' | translate }}</th>
        <th>{{ 'activity.distance' | translate }}</th>
        <th>{{ 'activity.time' | translate }}</th>
        <th>{{ 'activity.pace' | translate }}</th>
        <th>{{ 'activity.elevationGain' | translate }}</th>
        <th>{{ 'activity.heartRate' | translate }}</th>
        <th>{{ 'activity.calories' | translate }}</th>
        <th>{{ 'activity.device' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      @for (item of activities; track item.id) {
        <tr>
          <td>
            {{ item.startTime | date: 'short' }}
          </td>
          <td>
            {{ item.endTime | date: 'short' }}
          </td>
          <td>
            {{ item.distanceInMeters | distance }}
          </td>
          <td>
            {{ item.durationInSeconds | duration }}
          </td>
          <td>
            {{ item.averagePaceInMinutesPerKilometer | pace }}
          </td>
          <td>
            {{ item.totalElevationGainInMeters | elevation }}
          </td>
          <td>{{ item.averageHeartRateInBeatsPerMinute | heartRate }}</td>
          <td>{{ item.activeKilocalories | calories }}</td>
          <td>{{ item.deviceName }}</td>
        </tr>
      }
    </tbody>
  </table>
}
