@let participants = participantsData();

@if (participants) {
  <table style="width: 100%">
    <thead style="text-align: left">
      <tr>
        <th>{{ 'participant.position' | translate }}</th>
        <th>{{ 'participant.fullname' | translate }}</th>
        <th>{{ 'participant.country' | translate }}</th>
        <th>{{ 'participant.gender' | translate }}</th>
        <th>{{ 'participant.age' | translate }}</th>
        <th>{{ 'participant.ageCategory' | translate }}</th>
        <th>{{ 'participant.ageCategoryPosition' | translate }}</th>
        <th>{{ 'participant.distance' | translate }}</th>
        <th>{{ 'participant.time' | translate }}</th>
        <th>{{ 'participant.pace' | translate }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (item of participants; track item.id) {
        <tr>
          <td>
            {{ item.position }}
          </td>
          <td>
            {{ item.isCompleted | completedChallenge }}
            <a [routerLink]="[route(), item.id]">{{ item.firstName }} {{ item.lastName }}</a>
          </td>
          <td>
            <img
              [src]="item.countryAlpha2Code | countryFlag"
              alt="{{ item.countryAlpha3Code }}"
            />&nbsp;{{ item.countryAlpha3Code }}
          </td>
          <td>{{ item.gender | gender }}</td>
          <td>{{ item.age }}</td>
          <td>{{ item.ageCategory }}</td>
          <td>{{ item.positionByAgeCategory }}</td>
          <td>{{ item.distanceInMeters | distance }}</td>
          <td>{{ item.durationInSeconds | duration }}</td>
          <td>{{ item.averagePaceInMinutesPerKilometer | pace }}</td>
          <td>
            <a [routerLink]="[route(), item.id]">{{
              'challengeParticipantsTable.details' | translate
            }}</a>
          </td>
        </tr>
      }
    </tbody>
  </table>
}
