@let participants = participantsData();

@if (participants) {
  <div class="overflow-x-auto -mx-4 sm:mx-0">
    <div class="inline-block min-w-full align-middle px-4 sm:px-0">
      <table class="min-w-full divide-y divide-slate-300 text-sm table-fixed">
        <thead class="bg-slate-300 text-left">
          <tr>
            <th scope="col" class="py-2 pl-3 pr-3">{{ 'participant.position' | translate }}</th>
            <th scope="col" class="py-2 px-3">{{ 'participant.fullname' | translate }}</th>
            <th scope="col" class="py-2 px-3">{{ 'participant.country' | translate }}</th>
            <th scope="col" class="py-2 px-3">{{ 'participant.gender' | translate }}</th>
            <th scope="col" class="py-2 px-3">{{ 'participant.age' | translate }}</th>
            <th scope="col" class="py-2 px-3">{{ 'participant.ageCategory' | translate }}</th>
            <th scope="col" class="py-2 px-3">
              {{ 'participant.ageCategoryPosition' | translate }}
            </th>
            <th scope="col" class="py-2 px-3">{{ 'participant.distance' | translate }}</th>
            <th scope="col" class="py-2 px-3">{{ 'participant.time' | translate }}</th>
            <th scope="col" class="py-2 px-3">{{ 'participant.pace' | translate }}</th>
            <th scope="col" class="py-2 pl-3 pr-3"></th>
          </tr>
        </thead>
        <tbody class="divide-y divide-slate-100 bg-white">
          @for (item of participants; track item.id) {
            <tr class="hover:bg-slate-200 transition-colors even:bg-slate-100">
              <td class="whitespace-nowrap py-1.5 pl-3 pr-3">
                {{ item.position }}
              </td>
              <td class="whitespace-nowrap py-1.5 px-3">
                {{ item.isCompleted | completedChallenge }}
                <a [routerLink]="[route(), item.id]">{{ item.firstName }} {{ item.lastName }}</a>
              </td>
              <td class="whitespace-nowrap py-1.5 px-3">
                <div class="flex items-center gap-2">
                  <img
                    [src]="item.countryAlpha2Code | countryFlag"
                    alt="{{ item.countryAlpha3Code }}"
                  />{{ item.countryAlpha3Code }}
                </div>
              </td>
              <td class="whitespace-nowrap py-1.5 px-3">{{ item.gender | gender }}</td>
              <td class="whitespace-nowrap py-1.5 px-3">{{ item.age }}</td>
              <td class="whitespace-nowrap py-1.5 px-3">{{ item.ageCategory }}</td>
              <td class="whitespace-nowrap py-1.5 px-3">{{ item.positionByAgeCategory }}</td>
              <td class="whitespace-nowrap py-1.5 px-3">{{ item.distanceInMeters | distance }}</td>
              <td class="whitespace-nowrap py-1.5 px-3">{{ item.durationInSeconds | duration }}</td>
              <td class="whitespace-nowrap py-1.5 px-3">
                {{ item.averagePaceInMinutesPerKilometer | pace }}
              </td>
              <td class="whitespace-nowrap pr-3 pl-3">
                <a [routerLink]="[route(), item.id]">{{
                  'challengeParticipantsTable.details' | translate
                }}</a>
              </td>
            </tr>
          }
        </tbody>
      </table>
      <div class="my-3 text-left text-xs text-slate-500 sm:hidden">
        {{ 'challengeLeaderboard.swipeHint' | translate }}
      </div>
    </div>
  </div>
}
