@import 'tailwindcss';

/* @theme {  --font-display: "Oswald", sans-serif; } */
@layer base {
  a {
    @apply text-blue-600 no-underline hover:underline hover:text-blue-800 transition-colors duration-200;
  }
}
